@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .buttonLinearBG {
    background: -o-linear-gradient(305deg, #fff5ff, #dbcedd);
    background: linear-gradient(145deg, #fff5ff, #dbcedd);
  }

  .modal.enter-done {
    opacity: 1;
    pointer-events: visible;
  
    .modalContainer {
      transform: translateY(0);
    }
  }
  .modal.exit {
    opacity: 0;
  
    .modalContainer {
      transform: translateY(-200%);
    }
  }
}
